/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.navigation {
  padding: 20px 0;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  border-bottom: 1px solid darkgray;
}
.navigation .nav-bar {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  grid-column-start: 2;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.navigation .nav-bar .logo {
  grid-column-start: 1;
}
.navigation .nav-bar .nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column-start: 2;
}
.navigation .nav-bar .nav-items .nav-item {
  text-decoration: none;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}
.header .app-logo {
  object-fit: none;
  padding: 2rem 0;
}
.header h1 {
  font-size: 3rem;
}
.header p {
  font-size: 1.5rem;
  padding-bottom: 2rem;
  text-align: center;
  line-height: 2rem;
}
.header .banner-image {
  width: 100%;
  height: auto;
  object-fit: fill;
}
.main-content {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}
.main-content .headline {
  font-size: 2rem;
  text-align: center;
  margin: 2rem 0;
}
.main-content .m-section {
  display: grid;
  grid-template-columns: 50px 1fr 15px 1fr 50px;
  align-items: center;
  border-bottom: 1px solid gray;
  padding-bottom: 3rem;
}
.main-content .m-section .item1 {
  grid-column-start: 2;
  grid-column-end: 3;
}
.main-content .m-section .item2 {
  grid-column-start: 4;
  grid-column-end: 5;
}
.main-content .m-section .image {
  text-align: center;
  width: 100%;
  height: auto;
  object-fit: contain;
}
.main-content .m-section .text-block {
  padding: 0 2rem;
}
.container {
  margin: 0 auto;
}
