.main-content {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    
    .headline {
        font-size: 2rem;
        text-align: center;
        margin: 2rem 0;
    }

    .m-section {
        display: grid;
        grid-template-columns: 50px 1fr 15px 1fr 50px;
        align-items: center;
        border-bottom: 1px solid gray;
        padding-bottom: 3rem;

        .item1 {
            grid-column-start: 2;
            grid-column-end: 3;
            
        }

        .item2 {
            grid-column-start: 4;
            grid-column-end: 5;
        }

        .image {
            text-align: center;
            width: 100%;
            height: auto;
            object-fit: contain;
        }

        .text-block {
            padding: 0 2rem;
        }

    }

    

    
}